@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// body { background:rgb(30,30,40); }
.contact-wrapper{
    height: 90vh;
    width: 100vw;
    // outline: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
form { 
    width:60vw; 
    margin:50px auto; 
    // outline: 1px red solid;
    // backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
    
}
p{
    color: rgb(255, 255, 255);
}
.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.218);
  border:3px solid rgb(168, 168, 168);
//   transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  backdrop-filter: blur(4px);
}

.feedback-input:focus { 
    border:3px solid rgb(255, 255, 255); 
    p{
        color: rgb(255, 255, 255);
    }
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

option{
    color: rgb(255, 255, 255);
    background-color: black;
    // backdrop-filter: blur(4px);

}

[type="submit"] {
  font-family: 'poppins';
  width: 40%;
  background-color: rgba(0, 0, 0, 0.218);
  backdrop-filter: blur(4px);
//   background:rgb(0, 0, 0);
  border-radius:5px;
  border:2px solid rgb(168, 168, 168);
  cursor:pointer;
  color:rgb(168, 168, 168);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  grid-column-start:0;
  grid-column-end: -1;

}
[type="submit"]:hover { 
    // background:rgb(255, 255, 255);
    color:white;
    border:2px solid rgb(255, 255, 255);
}