@mixin outline {
    outline: 1px red solid;
  }

@mixin fadeOut{
    content: "";
    position: absolute;
    height: 120vh;
    width: 8vw;
    top: -20vh;
    z-index: 10;
}

$secondary-color: rgb(255, 187, 0);

.Landing{
    // @include outline;   
    height: 90vh;
    width: 100vw;
    color: white;
    font-size: 3rem;
    place-items: center;
    position: relative;

    &::after{
        @include fadeOut();
        right: 0;
        background: linear-gradient(
            90deg, rgba(0,0,0,0) 0%,
            rgba(0,0,0,0.7) 50%,
            rgba(0,0,0,1) 100%);
        

    }
    &::before{
        @include fadeOut(); 
        left: -20px;
        background: linear-gradient(
            90deg, rgba(0,0,0,1) 0%,
            rgba(0,0,0,0.7) 50%,
            rgba(0,0,0,0) 100%);
    }
}

*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration-style: none;
    text-decoration: none;
}
a{
    text-decoration-style: none;
    color: white;
}



.title-container{
    // @include outline;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 100%;
    line-height: 0;
    height: fit-content;
    align-items: center;
    // padding-bottom: 4rem;
    // outline: 1px solid red;
    margin-top: 35vh;
    h1{
        // color: transparent;
        text-shadow: 0px 5px 20px black;
        letter-spacing: 2rem;
        white-space: nowrap;
        font-size: 9vmin;
        text-align: center;

        // -webkit-text-stroke: 1px rgb(242, 165, 1);
    }
    
}

.reel{
    // @include outline;
    position: relative;
    display: inline-block;
    display: flex;
    gap: 4vw;
    justify-content: left;
    height: auto;
    top: 12vh;
    width: auto;
    // vertical-align: middle;
    margin: auto;
    z-index: 3;
    animation: reel-slide 30s linear;
    animation-iteration-count: infinite;
    cursor: pointer;

    &:hover{
        // animation-play-state: paused; 
        // animation-duration: 50s;
        transform: scale(1.2)
    }

    img{
        // opacity: 80%;
        filter: brightness(0.7) grayscale(0) blur(0.3px);
        height: 60vmin;
        border-radius: 10px;
        
    &:hover{
        filter: brightness(1) grayscale(0) blur(0px);
        transform: scale(1.0);
        transition: 100ms;

        // box-shadow: 0 0 7px 1px white;

        // border: $secondary-color 0.06em solid;
        // box-shadow: inset 0 0 0.5em 0 $secondary-color, 0 0 0.5em 0 $secondary-color;
    }
    }
   

}

.bottom {
    position: absolute !important;
    top: none !important;
    bottom: 3rem !important;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: bottom;
    // outline: rgb(115, 11, 11) 1px solid;
    width: 100%;
    height: 100%;
    align-items: flex-end;

    .icon{
        height: 1.5rem;
        color :rgb(168, 168, 168);
        cursor: pointer;
        &:hover{
            color :rgb(255, 255, 255);

        }
    }
}

// .reel:hover img{
//     transform: translateX(-100vw);
//     transition: transform 10s linear;
//     animation-iteration-count: infinite;
// }

    @keyframes reel-slide{
        from{transform: translateX(0);
        }
        // to{transform: translateX(-108.5vw)}
        to{transform: translateX(-100%);
    }
    }