$bg-color: #ffffff;
@font-face{
    font-family: 'Momentum';
    src: url('../font/MonumentExtended-Regular.otf');
  }


body{
  // background: $bg-color url(images/portfolio-bg.jpg) top center / cover no-repeat ;
  background: $bg-color url('./images/portfolio-bg.jpg') center center / cover no-repeat;
  background-blend-mode: darken;
  font-family: 'Momentum';
  letter-spacing: 0.2rem;
  overflow: hidden;
  height: 100vh;
}

*{
  // outline: 1px red solid;
}